{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
    <div class="flex flex-col justify-center items-center p-8 w-96 mx-auto gap-4 bg-slate-100 dark:bg-slate-800 rounded-lg">
        <h2 class="text-xl">Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-soft btn-lg btn-info">Log In</button>
            <a href="{% url 'home' %}" class="btn btn-lg btn-outline btn-info">Cancel</a>
        </form>
    </div>
{% endblock content %}