{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Newspaper App{% endblock title %}</title>
    {% tailwind_css %}
</head>
<body>
    <header class="nav-bar bg-slate-900 flex px-8 py-2 justify-between">
        <h1 class="text-2xl"><a href="{% url 'home' %}">Newspaper App</a></h1>
        <nav class="flex">
            {% if user.is_authenticated %}
                <div class="flex gap-2 items-center">
                    <p>{{ user.username }}</p>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-soft btn-info">Log Out</button>
                    </form>
                </div>
                {% else %}
                    <div class="flex gap-2">
                        <a href="{% url 'login' %}">Log In</a> |
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </div>
            {% endif %}
        </nav>
    </header>
    <main class="w-full h-screen p-8">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>